<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_MEDIA_PLAYBACK" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:label="@string/app_name"
        android:theme="@style/Theme.DanceFinalMusic.NoActionBar">
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".DanceStyleActivity" />
        <activity android:name=".DanceSelectActivity" />
        <activity android:name=".MusicTimingActivity" />
        <activity android:name=".BurstSettingsActivity" />
        <activity
            android:name=".DanceTimerActivity"
            android:configChanges="orientation|screenSize|keyboardHidden" />
        <activity android:name=".SettingsActivity" />
        <activity android:name=".AboutActivity" />
        <activity android:name=".QueueActivity" />
        <activity android:name=".PlayerActivity" />
        <service
            android:name=".DanceSessionService"
            android:exported="false"
            android:foregroundServiceType="mediaPlayback" />
    </application>
</manifest>
